* {
  box-sizing: border-box;
  text-align: center;

}
body {
    width: 960px;
    font-size: 18px;
    background: #777;
    font-family: Arial, Helvetica, sans-serif;

}
header {
    padding: 30px;
    width: 900px;
    margin-bottom: 10px;
    margin-left: 100px;
    background: #ebebeb;
    color: #777;
   
}
#nav {
    padding: 30px;
    width: 900px;
    margin-bottom: 20px;
    margin-left: 100px;
    background: #ebebeb;
    color: #777;

}
section {
    width: 495px;
    height: 330px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 10px;
    background: #ebebeb;
    color: #777;
    padding-top: 40px;

}
#article {
    height: 220px;
    width: 460px;
    background: #777;
    color: #ebebeb;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;    
    
}
h1 {
    height: 60px;
    width: 410px;
    background: #ebebeb;
    color: #777;
    margin-right: 20px;
    padding: 20px;

}
p {
    height: 60px;
    width: 410px;
    background: #ebebeb;
    color: #777;
    margin-top: 10px;
    margin-right: 20px;
    padding: 20px;

}
#aside {
    height: 330px;
    width: 390px;
    background: #ebebeb;
    color: #777;
    margin-top: -330px;
    margin-bottom: 200px;
    margin-left: 610px;
    padding: 40px;

}
#footer {
    position: absolute; 
    bottom: 0;
    height: 100px;
    width: 900px;
    background: #ebebeb;
    color: #777;
    margin-left: 100px;
    margin-bottom: 130px;
    padding: 30px;
        
}